## Terraform Validation Workflow
name: 'Terraform Validation'
on:
    pull_request:
    push:
        branches:
            - 'main'
jobs:
    validate:
        name: 'Terraform Validation'
        runs-on: 'ubuntu-latest'
        steps:
            - name: 'Checkout'
              uses: 'actions/checkout@v3'

            - name: 'Setup Terraform'
              uses: 'hashicorp/setup-terraform@v2'
              with:
                  terraform_version: '1.5.6'

            - name: 'Terraform Format'
              run: 'terraform fmt -check'

            - name: 'Terraform Validate'
              run: |
                for dir in $(find terraform -type f -name main.tf -exec dirname {} \;); do
                  echo "Validation $dir"
                  terraform -chdir=$dir init -backend=false
                  terraform -chdir=$dir validate
                done