## Terraform Validation Workflow
name: 'Terraform Validation'
on:
    pull_request:
        paths:
            - 'infrastructure/terraform/**'
            - '.github/workflows/terraform-validation.yml'
jobs:
    terraform:
        name: 'Terraform Validation'
        runs-on: 'ubuntu-latest'
        steps:
            - name: 'Checkout'
              uses: 'actions/checkout@v3'
            - name: 'Setup Terraform'
              uses: 'hashicorp/setup-terraform@v2'
              with:
                  terraform_version: '1.5.6'
            - name: 'Terraform Init'
              working-directory: 'infrastructure/terraform'
              run: 'terraform init'
            - name: 'Terraform Validate'
              working-directory: 'infrastructure/terraform'
              run: 'terraform validate'